<%#
  Use `form_for` to generate form for an instance of a model.
  From the given instance, it will figure out if the form
  is for a new instance or edit an existing one. It will also
  determine the names that should be used from the instance's
  class.
  
  It will add an hidden input holding an authenticity_token
  identifying the form as being from this Rails application.
  This is a security measure to prevent other computers and servers
  from making POST, DELETE, PATCH and PUT requests to our server.
%>

<%= form_for(@question) do |form| %>
  <% if @question.errors.present? %>
    <p>
      <%= @question.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div class="form-group">
    <%= form.label :title %> <br>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body %> <br>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <div class="selectize-control multi">
    <%= form.label :tag_names %>
    <%= form.text_field :tag_names, class: "form-control" %> 
  <div>

  <%= form.submit class: "btn btn-outline-primary" %>
<% end %>

<script>
  $("#question_tag_names").selectize({
    delimiter: ',',
    persist: false,
    labelField: "name",
    valueField: "name",
    searchField: "name",
    options: <%= Tag.select(:name).to_json(except: [:id]).html_safe %>,
    create: function(input) {
        return { name: input }
    }
});
</script>