<h3><%= @question.title %></h3>
<h4>Created by: <%= @question.user&.full_name || 'DELETED' %></h4>


<p><%= @question.body %></p>

<div>
  <small>
    Asked <%= time_ago_in_words(@question.created_at) %> ago
  </small>
  •
  <%# if @question.created_at != @question.updated_at %>
  <% if @question.edited? %>
    <small>
      Last edited <%= time_ago_in_words(@question.updated_at) %> ago
    </small>
    •
  <% end %>
  <small>
    Seen <%= @question.view_count %> time(s)
  </small>
</div>

<div>
  <%= link_to(
    "Delete",
    question_path(@question.id),
    method: :delete,
    data: { confirm: "Are you positive?" }
  ) %>

  <%= link_to(
    "Edit",
    edit_question_path(@question.id)
  ) %>
</div>

<h2>Answers</h2>

<%= form_for([@question, @answer]) do |f| %>
  <% if @answer.errors.present? %>
    <p>
      <%= @answer.errors.full_messages.join(", ") %>
    </p>
  <% end %>

  <div>
    <%= f.text_area(
      :body,
      cols: 60,
      rows: 5,
      placeholder: "What are your thoughts?"
    ) %>
  </div>

  <%= f.submit "Answer" %>
<% end %>

<ul class="answer-list">
  <% @answers.each do |answer| %>
    <li>
      <p>
        <%= answer.body %> <br>
        <small>
          <%= link_to(
            "Delete",
            question_answer_path(@question, answer),
            method: :delete,
            data: {
              confirm: "Are you positive?"
            }
          ) %>
        </small>
        •
        <small>
          Answered <%= time_ago_in_words(answer.created_at) %> ago
        </small>
        •
        <small>
          Last edited <%= time_ago_in_words(answer.updated_at) %> ago
        </small>
      </p>
    </li>
  <% end %>
</ul>
