<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <!-- <a href='<%= home_path %>'>Home Page</a> -->
        <%# the line below 👇 generate the same link code as the line above 👆 %>
        <%= link_to 'Home Page', home_path %>
        |
        <!-- <a href='/hello_world'>Hello World Page</a> -->
        <%= link_to 'Hello World Page', hello_world_path %>
        |
        <%= link_to "New Question", new_question_path %>
        |
        <%= link_to "Questions", questions_path %>
      </nav>
      <hr>
    </header>

    <%= yield %>
  </body>
</html>
