<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    
    <!--
      The following creates a <script> tag that loads the application.js file from app/assets/javascripts.
    -->
    <%= javascript_include_tag 'application' %>
    <!--
    The following creates a <script> tag that loads the application.js file from app/javascripts/pack. Best to transition everything to this if you want to make a Rails - React project.
    -->
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <header>
      <nav>
        <!-- <a href='<%= home_path %>'>Home Page</a> -->
        <%# the line below 👇 generate the same link code as the line above 👆 %>
        <%= link_to 'Home Page', home_path %>
        |
        <!-- <a href='/hello_world'>Hello World Page</a> -->
        <%= link_to 'Hello World Page', hello_world_path %>
        |
        <%= link_to "New Question", new_question_path %>
        |
        <%= link_to "Questions", questions_path %>

        <% if user_signed_in? %>
          |
          <%= link_to "Liked Questions", liked_questions_path %>
          Hello <%= current_user.first_name %>
          <%= link_to 'Sign Out', sessions_path, method: :delete %>
        <% else %>
          |
          <%= link_to 'Sign Up', new_user_path %>
          |
          <%= link_to 'Sign In', new_sessions_path %>
        <% end %>
      </nav>
      <hr>
    </header>

    <main class="container-fluid">
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
